body {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(255, 255, 0, 0.87);
    background-image: url('../images/background.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    height: 150px;
    width: 150px;
}
.character:hover {
    padding: 0px;
    /* opacity: 0.6; */
    cursor: pointer;
    border: solid 2px lightgreen;
    color: lightgreen;
}
.character {
    position: relative;
    padding: 10px;
    height: 150px;
    width:  150px;
    float: left;
}
span {
    position: absolute;
}
.name {
    bottom: 8px;
    right: 8px;
}
.attack {
    top: 8px;
    right: 8px;
}
.health {
    top: 8px;
    left: 8px;
}
.userC {
    position: relative;
    padding: 10px;
    height: 150px;
    width:  150px;
    float: left;
    padding: 0px;
    border: solid 2px lightblue;
    color: lightblue;
}
.enemyC {
    position: relative;
    padding: 10px;
    height: 150px;
    width:  150px;
    float: left;
    padding: 0px;
    border: solid 2px indianred;
    color: indianred;
}
button {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(255, 255, 0, 0.87);
    background-color: rgb(12, 41, 138);
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
h2 {
    clear: both;
}
.chosenCharacter {
    margin-bottom: 20px;

}
.currentOpponent {
    margin-top: 20px;

}
@media only screen and (max-width: 667px) { 
    body {
        background-size: 100%;

    }
    img {
        height: 100px;
        width: 100px;
    }
    .character, .userC, .enemyC{
        height: 100px;
        width: 100px;
    }

}
@media only screen and (max-width: 375px) { 
    body {
        background-size: 300%;

    }
    img {
        height: 100px;
        width: 100px;
    }
    .character, .userC, .enemyC{
        height: 100px;
        width: 100px;
    }

}
